@import '~vue-material/dist/vue-material';
// @import "~vue-material/dist/theme/mixins";

@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
    primary: md-get-palette-color(grey, 900), // The primary color of your application
    accent: md-get-palette-color(pink, 500), // The accent or secondary color
    theme: light
));

@import "~vue-material/dist/theme/all";

body {
    // background: #333;
}
